/* src/styles/BookCard.css */
.book-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; /* Fix the height of the card */
    margin: 10px;
}

.book-image {
    width: 100%;
    height: auto;
    max-height: 150px; /* Control image height */
}

.book-description {
    flex-grow: 1;
    margin-bottom: 10px; /* Add some space before the button */
}

.read-more {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    padding-left: 5px;
}

.rent-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.rent-button:hover {
    background-color: #218838;
}
